.App {
  text-align: center;
}
* {
  margin: 0px;
}
nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
}
.navbarImage {
  width: 160px;
}
.searchbarContainer {
  background-color: beige;
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}
.searchbar {
  background-color: white;
  margin-right: 20px;
}
.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}
.searchbarButton button{
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  padding: 10px 12px;
}

.pokedexHeader{
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.pokedexGrid{
  background-color: beige;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.pokemonCard{
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background-color:hsl(248, 18%, 60%) ;
}

.pokemonImage{
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.pokemonImageContainer{
  padding: 0px 5px;
}

.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}
.cardTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.cardTop h3{
  text-transform: capitalize;
}
.cardBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pokemonType{
  flex-direction: column;
  display: flex;
}
.pokemonTypeText{
  margin-right: 10px;
  text-transform: capitalize;
}
.pokemonAbility{
  flex-direction: column;
  display: flex;
  
}
.pokemonAbilityText{
  margin-right: 10px;
  text-transform: capitalize;
}
.pokemonStarButton{
  background-color: black;
}

.paginationContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}